*   {
    margin: 0;
    padding: 0;
}

body    {
    max-width: 1200px;
    min-width: 600px;
    margin: 40px auto;
    font-family: 'Ubuntu';
    text-align: center;
}

header, footer  {
    width: 100%;
    text-align: justify;
}

h1   {
    font-size: 3.5em;
    margin-bottom: 10px;
}

a   {
    transition-duration: 0.3s;
    text-decoration: none;
    color: #FFF8F0;
}

button {
    font-family: 'Ubuntu';
    padding: 10px 20px 10px 20px;
    font-size: 1.0em;
    border-width: 2px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.main-container {
    width: 800px;
    height: 540px;
    margin: auto;
}

.centered   {
    padding: 160px 0;
    margin: auto;
}

.links  {
    border-width: 2px;
    border-color: #FFF8F0;
    border-style: double;
    padding: 10px 20px;
}

.before {
    width: 300px;
    margin: auto;
}

.before button  {
    width: 100%;
    display: block;
    height: 50px;
    margin: 10px;
}

.rule-text, .option-text {
    margin: auto;
    background-color: #FFF8F0;
    width: 500px;
    text-align: justify;
    padding: 20px 30px 20px 30px;
}

.invisible  { display: none; }

#current-page   { color: #89B6A5; }

/** Color Styling for Themes **/
/** Red **/
.red    {
    transition-duration: 1.0s;
    background-color: #92140C;
    color: #FFF8F0;
}

.red a:hover { color: #1E1E24; }

.red button {
    background-color: transparent;
    border-color: #FFF8F0;
    color: #FFF8F0;
}

.red button:hover  {
    background-color: #FFF8F0;
    border-color: #92140C;
    color: #92140C;
}

.red .reverse button  {
    background-color: transparent;
    border-color: #92140C;
    color: #92140C;
}

.red .reverse button:hover  {
    background-color: #92140C;
    border-color: #FFF8F0;
    color: #FFF8F0;
}

.red .rule-text, .red .option-text { color: #92140C; }

/** Yellow **/
.yellow    {
    transition-duration: 1.0s;
    background-color: #E6AC00;
    color: #FFF8F0;
}

.yellow a:hover { color: #1E1E24; }

.yellow button {
    background-color: transparent;
    border-color: #FFF8F0;
    color: #FFF8F0;
}

.yellow button:hover  {
    background-color: #FFF8F0;
    border-color: #E6AC00;
    color: #E6AC00;
}

.yellow .reverse button  {
    background-color: transparent;
    border-color: #E6AC00;
    color: #E6AC00;
}

.yellow .reverse button:hover  {
    background-color: #E6AC00;
    border-color: #FFF8F0;
    color: #FFF8F0;
}

.yellow .rule-text, .yellow .option-text { color: #E6AC00; }

/** Blue **/
.blue    {
    transition-duration: 0.5s;
    background-color: #3366CC;
    color: #FFF8F0;
}

.blue a:hover { color: #1E1E24; }

.blue button {
    background-color: transparent;
    border-color: #FFF8F0;
    color: #FFF8F0;
}

.blue button:hover  {
    background-color: #FFF8F0;
    border-color: #3366CC;
    color: #3366CC;
}

.blue .reverse button  {
    background-color: transparent;
    border-color: #3366CC;
    color: #3366CC;
}

.blue .reverse button:hover  {
    background-color: #3366CC;
    border-color: #FFF8F0;
    color: #FFF8F0;
}

.blue .rule-text, .blue .option-text { color: #3366CC; }
/****************************************/