/* Defaults - Regardless of Screen Size */
body    {
    font-family: 'Ubuntu';
    background-color: #92140C;
    color: #FFF8F0;
}

header, footer, #button-guides, h4 {
    text-align: center;
}

h4  {
    color: #1E1E24;
}

a   {
    transition-duration: 0.3s;
    text-decoration: none;
    color: #FFF8F0;
}

a:hover {
    color: #1E1E24;
}

#current-page   {
    color: #89B6A5;
}

button {
    background-color: #92140C;
    border-color: #FFF8F0;
    color: #FFF8F0;
    border-radius: 8px;
    font-family: 'Ubuntu';
    transition-duration: 0.5s;
}

button:hover    {
    background-color: #FFF8F0;
    border-color: #92140C;
    color: #92140C;
}

button:active    {
    transition-duration: unset;
    background-color: #89B6A5;
    border-color: #89B6A5;
    color: #FFF8F0;
}

#button-guides  {
    text-align: center;
}

.invisible  {
    display: none;
}

/** For stylizing lines: code courtesy of https://stackoverflow.com/questions/23390654/title-with-hr-line **/
h1, footer h3  {
    position: relative;
    display: inline-block;
}

h1::before, h1::after    {
    content:' ';
    display: block;
    position: absolute; 
    top: 50%; 
    left: -540px;
    width: 500px;
    border-bottom: 1px solid #FFF8F0;
}

h1::after {
    left:auto; 
    right:-540px;
}

footer h3::before, footer h3::after {
    content:' ';
    display: block;
    position: absolute; 
    top: 50%; 
    left: -470px;
    width: 450px;
    border-bottom: 1px solid #FFF8F0;
}

footer h3::after    {
    left: auto;
    right: -470px;
}
/*********************************************************************************************************/

/* Desktop Layout */
@media only screen and (min-width: 600px)   {
    body    {
        max-width: 1200px;
        min-width: 800px;
        margin: 0 auto;
    }

    header  {
        padding-top: 30px;
    }

    footer  {
        padding-bottom: 30px;
    }

    button  {
        padding: 10px 20px 10px 20px;
        font-size: 1.0em;
    }

    #start, #rules  {
        margin-left: 20px;
        margin-right: 20px;
    }

    img {
        height: 300px;
        width: auto;
    }

    .all-cards  {
        padding: 50px 200px 50px 200px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .all-cards div  {
        padding-left: 20px;
        padding-right: 20px;
    }

    .visible    {
        margin-top: 40px;
        background-color: #89B6A5;
        color: #1E1E24;
        text-align: justify;
        padding: 25px 40px 25px 40px;
    }

    .visible h3 {
        text-align: center;
    }

    .visible button {
        background-color: #89B6A5;
        color: #1E1E24;
        border-color: #1E1E24;
    }

    .visible button:hover   {
        background-color: #1E1E24;
        color: #89B6A5;
        border-color: #89B6A5;
    }
}

/* Mobile Layout */