*   {
    margin: 0;
    padding: 0;
}

body    {
    max-width: 1425px;
    min-width: 800px;
    max-height: 820px;
    min-height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 205px 205px 205px 205px;
    justify-content: center;
    background-color: #F5F6F7;
    color: #584030;
    font-family: 'Raleway', sans-serif;
}

main {
    grid-column: 3/5;
    grid-row: 1/5;
    align-self: center;
    justify-self: center;
}

header  {
    grid-column: 1/5;
    grid-row: 1/5;
    align-self: center;
    justify-self: center;
    opacity: 1;
}

h1, h2, h3, button  {
    font-family: 'Cabin', sans-serif;
}

h1  {
    font-size: 3.0em;
    margin-bottom: 10px;
}

button  {
    padding: 10px;
    margin-right: 15px;
    background: transparent;
    border-color: #584030;
    border-width: 3px;
    color: #584030;
    transition-duration: 0.5s;
}

button:hover    {
    background: #584030;
    color: #F5F6F7;
    transition-duration: 0.5s;
}

img {
    height: 220px;
    width: auto;
    transition-duration: 0.5s;
}

a    {
    padding: auto 10px;
}

/* Fading Transition Classes */
.loadIn   {
    opacity: 1;
    transition: opacity 500ms;
}

.loadOut    {
    opacity: 0;
    transition: opacity 500ms;
}

/* DOM Styling Classes*/
#main-nav   {
    margin: 40px 0;
}

#quote  {
    width: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: #584030;
    padding: 25px;
    margin-top: 250px;
}

#quote h3   {
    text-align: right;
}

#home-page  {
    margin-left: 50px;
}

#toc-info   {
    background-color: #DAFFA0;
    padding: 30px;
    margin: 50px;
}

#toc-info h2, #site-info h2, #site-info h3, #ocean-text h2, #forest-text h2, #city-text h2   {
    margin-bottom: 20px;
}

#toc-info button, #site-info button    {
    margin-top: 20px;
}

#site-info  {
    text-align: center;
    background-color: #584030;
    color: #F5F6F7;
    padding: 30px;
    margin: 50px;
}

#site-info p    {
    margin-bottom: 20px;
    text-align: left;
}

#site-info button   {
    border-color: #F5F6F7;
    color: #F5F6F7;
    padding: 10px;
    transition-duration: 0.5s;
}

#site-info button:hover {
    background-color: #F5F6F7;
    color: #584030;
    transition-duration: 0.5s;
}

#ocean-text, #forest-text, #city-text   {
    text-align: center;
    background-color: #F5F6F7;
    padding: 30px;
    margin: 50px;
}

#ocean-text img, #forest-text img, #city-text img   {
    height: 270px;
    width: auto;
    margin-bottom: 20px;
}

#ocean-text a img, #forest-text a img, #city-text a img   {
    margin-top: 10px;
    margin-bottom: 0px;
    margin: 10px 5px 0px 5px;
    height: 75px;
    width: auto;
}

#ocean-text p, #forest-text p, #city-text p   {
    text-align: left;
}