body    {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.0em;
    line-height: 2.0em;
    text-align: justify;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #3F1B11;
}

header, footer  {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

header  {
    font-weight: bold;
    line-height: 1.0em;
    padding-top: 40px;
    padding-bottom: 20px;
}

h1  {
    font-size: 3.5em;
}

h3  {
    font-size: 1.5em;
}

footer  {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 1.5em;
}

label, legend  {
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 1.65em;
}

fieldset    {
    border-radius: 20px;
    border: 2px solid #3F1B11;
}

fieldset label  {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
}

a   {
    text-decoration: none;
    color: #3F1B11;
}

a:hover    {
    color: #739E5A;
}

.flex-box   {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-box div   {
    background-color: #C1C44B;
    border-radius: 50px;
    padding: 50px;
}

#image-pos  {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    background-color: #FFFFFF;
}

img  {
    margin: auto;
    width: 100%;
}

#current-page   {
    color: #C1C44B;
}