body    {
    font-family: 'Open Sans', sans-serif;
    font-weight: thin;
    font-size: 1.0em;
    line-height: 1.3em;
    text-align: justify;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

h1,h2,h3,footer  {
    font-family: 'Raleway', sans-serif;
    color: #648381;
}

h2,footer  {
    text-align: center;
}

header,footer   {
    padding-top: 25px;
    padding-bottom: 25px;
}

main    {
    padding: 30px;
    background-color: #E4FDE1;
}

main h2 {
    color: #8ACB88;
    padding-bottom: 30px;
}

article {
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    color: #575761;
}

img {
    width: 525px;
    height: auto;
    margin: 20px;
}

hr  {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-top: 2px solid #FFBF46;
}

a   {
    text-decoration: none;
    color: #648381;
}

a:hover    {
    color: #FFBF46;
}

a:active    {
    color: #E8DCB9;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#current-page   {
    color: #8ACB88;
}

#sketch img {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#sketch {
    padding-top: 20px;
    padding-bottom: 20px;
}