body    {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.0em;
    line-height: 1.3em;
    text-align: justify;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

h1,h2,h3,footer  {
    font-family: 'Raleway', sans-serif;
    color: #7798AB;
}

h2,footer  {
    text-align: center;
}

main h3 {
    text-align: center;
}

header,footer   {
    padding-top: 25px;
    padding-bottom: 25px;
}

main    {
    padding: 30px;
    background-color: #E8DCB9;
}

article {
    width: 525px;
    padding: 20px;
}

article p   {
    padding-top: 25px;
}

hr  {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: unset;
    border-top: 6px dotted #FFFFFF;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    height: auto;
}

a   {
    text-decoration: none;
    color: #7798AB;
}

a:hover    {
    color: #C1EDCC;
}

a:active    {
    color: #E8DCB9;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#current-page   {
    color: #C1EDCC;
}